<!DOCTYPE html>
<html>

<head>
  <title>Page Title</title>
  <script src="myscripts.js"></script>
  <script src="jquery-3.4.1.min.js"></script>
  <script src="https://kit.fontawesome.com/851445eead.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <header>
    <p>Welcome to our online store!</p>
    <p id="language">English</p>
    </p>|</p>
    <p>Login or Register</p>
    <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
    <a href="www.twitter.com"><i class="fab fa-twitter-square"></i></a>
    <a href="www.instagram.com"><i class="fab fa-instagram-square"></i></a>
  </header>

  <div class="container">
    <div class="bigProducts">
    <a href="products.html"><section style="background-image: url(img/statuekopie.jpg);">
        <figcaption>
          <p>The Legende of Zelda</p>
          <br>
          <h3>Breath of the Wild - Zelda 10 ″ PVC-standbeeld</h3>
        </figcaption>
      </section></a>

      <a href=""><article style="background-image: url(img/book.png);">
        <figcaption>
          <p>The Legende of Zelda</p>
          <br>
          <h3>Breath of the Wild - Zelda 10 ″ PVC-standbeeld</h3>
        </figcaption>
      </article></a>

      <a href=""><article style="background-image: url(img/statuekopie.jpg);">
        <figcaption>
          <p>The Legende of Zelda</p>
          <br>
          <h3>Breath of the Wild - Zelda 10 ″ PVC-standbeeld</h3>
        </figcaption>
      </article>
    </div></a>

    <h2>Featured Products</h2>

    <div class="products">
      <a href=""><section>
        <img src="https://gamemania-sec.azureedge.net/-/media/Sites/GameMania/Products/Merchandising/Action-figures/Nendoroid-Zelda-Breath-of-the-Wild-Ver/Nendoroid-Zelda-Breath-of-the-Wild-Ver.jpg?v=t4waFladgUSvAtaEgLEO1Q&Type=Large">
        <h3>Breath of the Wild Nendoroid Figure (Zelda)</h3>
        <b>€59,99</b>
      </section></a>

      <a href=""><section>
        <img src="https://gamemania-sec.azureedge.net/-/media/Sites/GameMania/Products/Merchandising/Action-figures/Nendoroid-Zelda-Breath-of-the-Wild-Ver/Nendoroid-Zelda-Breath-of-the-Wild-Ver.jpg?v=t4waFladgUSvAtaEgLEO1Q&Type=Large">
        <h3>Breath of the Wild Nendoroid Figure (Zelda)</h3>
        <b>€59,99</b>
      </section></a>

      <a href=""><section>
        <img src="https://gamemania-sec.azureedge.net/-/media/Sites/GameMania/Products/Merchandising/Action-figures/Nendoroid-Zelda-Breath-of-the-Wild-Ver/Nendoroid-Zelda-Breath-of-the-Wild-Ver.jpg?v=t4waFladgUSvAtaEgLEO1Q&Type=Large">
        <h3>Breath of the Wild Nendoroid Figure (Zelda)</h3>
        <b>€59,99</b>
      </section></a>

      <a href=""><section>
        <img src="https://gamemania-sec.azureedge.net/-/media/Sites/GameMania/Products/Merchandising/Action-figures/Nendoroid-Zelda-Breath-of-the-Wild-Ver/Nendoroid-Zelda-Breath-of-the-Wild-Ver.jpg?v=t4waFladgUSvAtaEgLEO1Q&Type=Large">
        <h3>Breath of the Wild Nendoroid Figure (Zelda)</h3>
        <b>€59,99</b>
      </section></a>

      <a href=""><section>
        <img src="https://gamemania-sec.azureedge.net/-/media/Sites/GameMania/Products/Merchandising/Action-figures/Nendoroid-Zelda-Breath-of-the-Wild-Ver/Nendoroid-Zelda-Breath-of-the-Wild-Ver.jpg?v=t4waFladgUSvAtaEgLEO1Q&Type=Large">
        <h3>Breath of the Wild Nendoroid Figure (Zelda)</h3>
        <b>€59,99</b>
      </section></a>

      <a href=""><section>
        <img src="https://gamemania-sec.azureedge.net/-/media/Sites/GameMania/Products/Merchandising/Action-figures/Nendoroid-Zelda-Breath-of-the-Wild-Ver/Nendoroid-Zelda-Breath-of-the-Wild-Ver.jpg?v=t4waFladgUSvAtaEgLEO1Q&Type=Large">
        <h3>Breath of the Wild Nendoroid Figure (Zelda)</h3>
        <b>€59,99</b>
      </section></a>

      <a href=""><section>
        <img src="https://gamemania-sec.azureedge.net/-/media/Sites/GameMania/Products/Merchandising/Action-figures/Nendoroid-Zelda-Breath-of-the-Wild-Ver/Nendoroid-Zelda-Breath-of-the-Wild-Ver.jpg?v=t4waFladgUSvAtaEgLEO1Q&Type=Large">
        <h3>Breath of the Wild Nendoroid Figure (Zelda)</h3>
        <b>€59,99</b>
      </section></a>

      <a href=""><section>
        <img src="https://gamemania-sec.azureedge.net/-/media/Sites/GameMania/Products/Merchandising/Action-figures/Nendoroid-Zelda-Breath-of-the-Wild-Ver/Nendoroid-Zelda-Breath-of-the-Wild-Ver.jpg?v=t4waFladgUSvAtaEgLEO1Q&Type=Large">
        <h3>Breath of the Wild Nendoroid Figure (Zelda)</h3>
        <b>€59,99</b>
      </section></a>
    </div>

    <div class="vids">
      <iframe src="https://www.youtube.com/embed/zw47_q9wbBE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <img src="https://www.golem.de/1906/141827-198772-198771_rc.jpg">
    </div>

    <h2>Weakly Top Selling</h2>

    <div class="products">
      <a href=""><section>
        <img src="https://gamemania-sec.azureedge.net/-/media/Sites/GameMania/Products/Merchandising/Action-figures/Nendoroid-Zelda-Breath-of-the-Wild-Ver/Nendoroid-Zelda-Breath-of-the-Wild-Ver.jpg?v=t4waFladgUSvAtaEgLEO1Q&Type=Large">
        <h3>Breath of the Wild Nendoroid Figure (Zelda)</h3>
        <b>€59,99</b>
      </section></a>

      <a href=""><section>
        <img src="https://gamemania-sec.azureedge.net/-/media/Sites/GameMania/Products/Merchandising/Action-figures/Nendoroid-Zelda-Breath-of-the-Wild-Ver/Nendoroid-Zelda-Breath-of-the-Wild-Ver.jpg?v=t4waFladgUSvAtaEgLEO1Q&Type=Large">
        <h3>Breath of the Wild Nendoroid Figure (Zelda)</h3>
        <b>€59,99</b>
      </section></a>

      <a href=""><section>
        <img src="https://gamemania-sec.azureedge.net/-/media/Sites/GameMania/Products/Merchandising/Action-figures/Nendoroid-Zelda-Breath-of-the-Wild-Ver/Nendoroid-Zelda-Breath-of-the-Wild-Ver.jpg?v=t4waFladgUSvAtaEgLEO1Q&Type=Large">
        <h3>Breath of the Wild Nendoroid Figure (Zelda)</h3>
        <b>€59,99</b>
      </section></a>

      <a href=""><section>
        <img src="https://gamemania-sec.azureedge.net/-/media/Sites/GameMania/Products/Merchandising/Action-figures/Nendoroid-Zelda-Breath-of-the-Wild-Ver/Nendoroid-Zelda-Breath-of-the-Wild-Ver.jpg?v=t4waFladgUSvAtaEgLEO1Q&Type=Large">
        <h3>Breath of the Wild Nendoroid Figure (Zelda)</h3>
        <b>€59,99</b>
      </section></a>
    </div>
  </div>

  <footer></footer>
</body>

</html>
